/*@tailwind base;*/
/* WARNING: Don't uncomment this, as it will result in all styles to be overriden and broken */
/* @tailwind base; */
@tailwind components;
@tailwind utilities;

.override-prose-w-with-85ch {
  max-width: 83ch;
}

/* The below classes have been added to substitute the missing classes from `base` that breaks the styling */
.translate-x-0 {
  transform: translateX(0);
}

.transform-none {
  transform: none;
}

.translate-x-full {
  transform: translateX(100%);
}

.list {
  & {
    list-style: none; /* Remove default bullets */
  }

  & li::before {
    content: "•";
    color: #f5009b;
    font-weight: 800;
    display: inline-block;
    width: 1.5em;
    margin-left: -1.5em;
  }
}
