:root,
.light {
  --color-pri-lighter: 319 100% 90%;
  --color-pri-light: 318 100% 80%;
  --color-pri-base: 319 100% 44.1%;
  --color-pri-dark: 319 100% 30%;
  --color-pri-darker: 319 100% 20%;

  --color-sec-lighter: 79 80% 90%;
  --color-sec-light: 79 82% 80%;
  --color-sec-base: 79 90% 65%;
  --color-sec-dark: 79 98% 37%;
  --color-sec-darker: 79 98% 23%;

  --color-neu-0: 0 0% 100%;
  --color-neu-50: 75 57% 97%;
  --color-neu-100: 75 15% 95%;
  --color-neu-200: 77 14% 90%;
  --color-neu-300: 76 14% 85%;
  --color-neu-400: 77 14% 80%;
  --color-neu-500: 74 14% 70%;
  --color-neu-600: 76 15% 60%;
  --color-neu-700: 76 15% 40%;
  --color-neu-800: 77 14% 20%;
  --color-neu-900: 75 15% 5%;
}

.dark {
  --color-neu-900: 0 0% 100%;
  --color-neu-800: 75 57% 97%;
  --color-neu-700: 75 15% 95%;
  --color-neu-600: 77 14% 90%;
  --color-neu-500: 76 14% 85%;
  --color-neu-400: 77 14% 80%;
  --color-neu-300: 74 14% 70%;
  --color-neu-200: 76 15% 60%;
  --color-neu-100: 76 15% 40%;
  --color-neu-50: 77 14% 20%;
  --color-neu-0: 75 15% 5%;
}
