html {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #202020;
  font-size: 18px;
  line-height: 28px;
}

body {
  background-color: white;
}

.subHeader {
  font-size: 21px;
  font-weight: 200;
  line-height: 30px;
  margin-bottom: 10px;
}

em {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 10px 0;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight: normal;
  color: #7b7b7b;
}

h1, h2, h3 {
  line-height: 40px;
}

h1 {
  font-size: 39px;
  line-height: 60px;
}

h2 {
  font-size: 24px;
  line-height: 36px;
}

h3 {
  font-size: 18px;
  line-height: 28px;
}

h4 {
  font-size: 16px;
  font-weight: bold;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 16px;
}

h1 small {
  font-size: 24px;
}

h2 small {
  font-size: 18px;
}

h3 small {
  font-size: 16px;
}

h4 small {
  font-size: 14px;
}

ul, ol {
  margin: 0 0 10px 25px;
  padding: 0;
}

p + ul, p + ol {
  margin-top: 1em;
}

ul ul, ul ol, ol ol, ol ul {
  margin-bottom: 0;
}

li {
  line-height: 20px;
  margin-bottom: 1em;
}

a {
  /* https://www.pantone.com/color-finder/Rhodamine-Red-C */
  color: #E10098;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.center {
  text-align: center;
}

.side-by-side {
  overflow: hidden;
}

.side-by-side > div {
  width: 460;
  margin-left: 0;
  float: left;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
}

html {
  background: #f9f9f9;
}

.left {
  float: left;
}

.right {
  float: right;
}

.container {
  padding-top: 50px;
  min-width: 1020px;
}

.wrap {
  width: 1020px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.skinnyWrap {
  width: 690px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

hr {
  height: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #eee;
}

ul, li {
  margin-left: 20px;
}

h1 .anchor, h2 .anchor, h3 .anchor, h4 .anchor, h5 .anchor, h6 .anchor {
  margin-top: -50px;
  position: absolute;
}

h1:hover .hash-link, h2:hover .hash-link, h3:hover .hash-link, h4:hover .hash-link, h5:hover .hash-link, h6:hover .hash-link {
  visibility: visible;
}

.hash-link {
  color: #aaa;
  visibility: hidden;
}

.nav-main {
  font-family: 'Rubik', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  *zoom: 1;
  color: #606060;
  position: fixed;
  top: 0;
  height: 50px;
  background: white;
  box-shadow: inset 0 -1px 0 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 100;
}

.nav-main:before, .nav-main:after {
  content: " ";
  display: table;
}

.nav-main:after {
  clear: both;
}

.nav-main a {
  text-decoration: none;
  transition: color 0.1s ease-out
}

.nav-main .nav-site-wrapper {
  display: inline;
}

.nav-main .nav-site-internal {
  float: right;
  margin: 0 0 0 20px;
}

/*.nav-main .nav-site-external {
  float: right;
  margin: 0;
}*/

.nav-main .nav-site li {
  margin: 0;
}

.nav-main .nav-site a {
  padding: 0 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 50px;
  display: inline-block;
  height: 50px;
  color: #aaa;
}

.nav-main .nav-site a:hover {
  color: #0f0f0f;
}

.nav-main .nav-site a.active {
  color: #0f0f0f;
  border-bottom: 3px solid #E10098;
  background: #333;
}

.nav-main .nav-home {
  color: #E10098;
  font-size: 24px;
  line-height: 50px;
}

.nav-home a {
  color: #E10098;
}

.nav-home img {
  vertical-align: -9px;
  margin-right: 4px;
  width: 30px;
  height: 30px;
}

.nav-site-wrapper ul {
  display: inline;
}

.nav-site-wrapper li {
  display: inline;
}

.hero {
  background: #222;
  color: #f8f8f8;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 101;
  margin-top: -50px;
  padding-top: 50px;
}

.nav-main.hero-nav {
  position: absolute;
  top: 0;
  height: 50px;
  width: 1020px;
  background: none;
  box-shadow: none;
}

.hero-nav .nav-site-wrapper {
  float: right;
}

.hero .content {
  margin: 30px;
}

.hero .main-logo {
  margin: 0 auto;
  display: block;
}

.hero .text {
  font-size: 64px;
  line-height: 100px;
  text-align: center;
}

.hero h1.text {
  margin: 0;
}

.hero .minitext {
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}

.hero h2.minitext {
  line-height: inherit;
  margin: 0;
}

.hero strong {
  color: #E10098;
  font-weight: 300;
}

.buttons-unit {
  margin-top: 60px;
  text-align: center;
}

.buttons-unit a {
  color: #FA6900;
}

.buttons-unit .button {
  font-size: 24px;
  background: #E10098;
  color: #fafafa;
}

.buttons-unit .button:active {
  background: #E97CC5;
}

.nav-docs {
  color: #2d2d2d;
  font-size: 14px;
  float: left;
  width: 170px;
}

.nav-docs ul {
  list-style: none;
  margin: 0;
}

.nav-docs ul ul {
  margin-left: 20px;
}

.nav-docs li {
  margin: 0;
}

.nav-docs h3 {
  text-transform: uppercase;
  font-size: 14px;
}

.nav-docs a {
  color: #666;
  display: block;
}

.nav-docs a:hover {
  text-decoration: none;
  color: #E10098;
}

.nav-docs a.active {
  color: #E10098;
}

.nav-docs .nav-docs-section {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #eee;
  padding: 12px 0;
}

.nav-docs .nav-docs-section:first-child {
  padding-top: 0;
  border-top: 0;
}

.nav-docs .nav-docs-section:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}

.nav-blog li {
  margin-bottom: 5px;
}

.home-section {
  margin: 50px 0;
}

.home-divider {
  border-top-color: #bbb;
  margin: 3em auto;
  width: 400px;
}

.marketing-row {
  *zoom: 1;
  margin: 50px 0;
}

.marketing-row:before, .marketing-row:after {
  content: " ";
  display: table;
}

.marketing-row:after {
  clear: both;
}

.marketing-col {
  float: left;
  margin-left: 40px;
  width: 300px;
}

.marketing-col h3 {
  color: #2d2d2d;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.marketing-col p {
  font-size: 16px;
}

.marketing-col:first-child {
  margin-left: 0;
}

#examples h3, .home-presentation h3 {
  color: #2d2d2d;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 5px;
}

#examples p {
  margin: 0 0 25px 0;
  max-width: 600px;
}

#examples .example {
  margin-top: 60px;
}

#examples #todoExample {
  font-size: 14px;
}

#examples #todoExample ul {
  list-style-type: square;
  margin: 0 0 10px 0;
}

#examples #todoExample input {
  border: 1px solid #ccc;
  font: 14px proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 3px;
  width: 150px;
}

#examples #todoExample button {
  font: 14px proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: 5px;
  padding: 4px 10px;
}

#examples #markdownExample textarea {
  border: 1px solid #ccc;
  font: 14px proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 10px;
  padding: 5px;
}

.home-bottom-section {
  margin-bottom: 100px;
}

.docs-nextprev {
  *zoom: 1;
}

.docs-nextprev:before, .docs-nextprev:after {
  content: " ";
  display: table;
}

.docs-nextprev:after {
  clear: both;
}

.docs-prev {
  float: left;
}

.docs-next {
  float: right;
}

footer {
  font-size: 13px;
  font-weight: 600;
  padding-top: 36px;
  padding-bottom: 18px;
  overflow: auto;
}

section.black content {
  padding-bottom: 18px;
}

.guestBio {
  background: #f9f0f3;
  border-top: solid 2px #e0c3c8;
  font-style: italic;
  margin: 1em -10px;
  padding: 10px;
}

.blogContent {
  *zoom: 1;
  padding-top: 20px;
}

.blogContent:before, .blogContent:after {
  content: " ";
  display: table;
}

.blogContent:after {
  clear: both;
}

.blogContent blockquote {
  padding: 5px 15px;
  margin: 20px 0;
  background-color: #f8f5ec;
  border-left: 5px solid #f7ebc6;
}

.blogContent img {
  max-width: 100%;
}

.documentationContent {
  *zoom: 1;
  padding-top: 20px;
}

.documentationContent:before, .documentationContent:after {
  content: " ";
  display: table;
}

.documentationContent:after {
  clear: both;
}

.documentationContent .subHeader {
  font-size: 24px;
}

.documentationContent h2 {
  margin-top: 30px;
}

.documentationContent blockquote {
  padding: 15px 30px 15px 15px;
  margin: 20px 0;
  background-color: rgba(204, 122, 111, 0.1);
  border-left: 5px solid rgba(191, 87, 73, 0.2);
}

.documentationContent blockquote h4 {
  margin-top: 0;
}

.documentationContent blockquote p {
  margin-bottom: 0;
}

.documentationContent blockquote p:first-child {
  font-weight: bold;
  font-size: 17.5px;
  line-height: 20px;
  margin-top: 0;
  text-rendering: optimizelegibility;
}

.documentationContent img {
  max-width: 100%;
}

.docs-prevnext {
  padding-top: 40px;
  padding-bottom: 40px;
}

.button {
  background: -webkit-linear-gradient( #9a9a9a, #646464);
  background: linear-gradient( #9a9a9a, #646464);
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 18px;
  font-weight: 400;
  margin: 0 12px;
  display: inline-block;
  color: #fafafa;
  text-decoration: none;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.button:hover {
  text-decoration: none;
}

.button:active {
  box-shadow: none;
}

.hero .button {
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
}

.button.blue {
  background: -webkit-linear-gradient( #77a3d2, #4783c2);
  background: linear-gradient( #77a3d2, #4783c2);
}

.row {
  padding-bottom: 4px;
}

.row .span4 {
  width: 33.33%;
  display: table-cell;
}

.row .span8 {
  width: 66.66%;
  display: table-cell;
}

.row .span6 {
  width: 50%;
  display: table-cell;
}

p, .diagram {
  margin: 10px 0 10px;
}

.diagram, .diagram img,
.video, .video iframe {
  width: 100%;
}

/**
 * fluid/responsive 16:9 video css from
 * http://webdesignerwall.com/tutorials/css-elastic-videos
 */
.video-container {
  margin-bottom: 10px;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.associated-with-next-sibling {
  margin-bottom: 10px;
}

.disassociated-with-next-sibling {
  margin-bottom: 30px;
}

.highlight {
  padding: 10px;
  margin-bottom: 20px;
}

figure {
  text-align: center;
}

.home-content {
  width: 760px;
}

.inner-content {
  float: right;
  width: 760px;
}

.inner-content > div > :last-child {
  margin-bottom: 0;
}

.nosidebar .inner-content {
  float: none;
  margin: 0 auto;
}

.post-list-item+.post-list-item {
  margin-top: 60px;
}

.inner-content + .inner-content {
  margin-top: 5em;
}

small code,
li code,
p code {
  background-color: #f6f5f5;
  color: #333;
  font-family: 'Roboto Mono', Menlo, Monaco, monospace;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  padding: 4px 4px 2px;
  margin: 0 -1px;
}

.playground {
  *zoom: 1;
}

.playground:before, .playground:after {
  content: " ";
  display: table;
}

.playground:after {
  clear: both;
}

.playground-tab {
  border-bottom: none !important;
  border-radius: 3px 3px 0 0;
  padding: 6px 8px;
  font-size: 12px;
  font-weight: bold;
  color: #c2c0bc;
  background-color: #f1ede4;
  display: inline-block;
  cursor: pointer;
}

.playgroundCode, .playground-tab, .playgroundPreview {
  border: 1px solid rgba(16, 16, 16, 0.1);
}

.playground-tab-active {
  color: #222;
}

.playgroundCode {
  border-radius: 0 3px 3px 3px;
  float: left;
  overflow: hidden;
  width: 600px;
}

.playgroundPreview {
  background-color: white;
  border-radius: 3px;
  float: right;
  padding: 15px 20px;
  width: 280px;
}

.playgroundError {
  color: #c5695c;
  font-size: 15px;
}

.MarkdownEditor textarea {
  width: 100%;
  height: 100px;
}

.hll {
  background-color: #f7ebc6;
  border-left: 5px solid #f7d87c;
  display: block;
  margin-left: -14px;
  margin-right: -14px;
  padding-left: 9px;
}

.highlight .javascript .err {
  background-color: transparent;
  color: inherit;
}

.highlight {
  position: relative;
  margin-bottom: 14px;
  padding: 30px 14px 14px;
  border: none;
  border-radius: 0;
  overflow: auto;
}

.highlight pre {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: transparent;
  border: 0;
}

.highlight pre code {
  background: none;
  font-size: inherit;
  padding: 0;
}

.highlight pre .lineno {
  display: inline-block;
  width: 22px;
  padding-right: 5px;
  margin-right: 10px;
  color: #bebec5;
  text-align: right;
}

.highlight:after {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  color: #c2c0bc;
  background-color: #f1ede4;
  content: "Code";
}

.downloadCenter {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 25px;
}

.downloadSection:hover {
  text-decoration: none !important;
}

@media screen and (max-width: 1020px) {
  .nav-main {
    position: static;
  }

  .container {
    padding-top: 0;
  }
}

.post {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
  width: 100%;
  overflow: hidden;
}

.pagination .next {
  float: right;
}

div[data-twttr-id] iframe {
  margin: 10px auto !important;
}

.three-column {
  *zoom: 1;
}

.three-column:before, .three-column:after {
  content: " ";
  display: table;
}

.three-column:after {
  clear: both;
}

.three-column>ul {
  float: left;
  margin-left: 30px;
  width: 190px;
}

.three-column > ul:first-child {
  margin-left: 20px;
}

.home-why {
  margin-top: 25px;
}

.home-why h3 {
  text-align: center;
}

.home-why .blurb {
  margin-bottom: 20px;
  text-align: center;
}

.home-why .list {
  margin: 0 auto;
  max-width: 460px;
}

.home-getting-started {
  width: 500px;
  margin: 20px auto 40px auto;
}

.home-getting-started h3 {
  text-align: center;
}

#content {
  display: none;
}

.edit-page-link {
    float: right;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    opacity: 0.6;
    transition: opacity 0.5s;
}

.edit-page-link:hover {
  opacity: 1;
}

p + .apiIndex {
  margin-top: 0;
}
.apiIndex {
  list-style: none;
  margin: 0 0 30px 0;
}
.apiIndex li {
  margin: 0 0 5px 0;
  color: rgba(0, 0, 0, 0.35);
}
.apiIndex li a {
  color: inherit;
  display: block;
  position: relative;
  text-decoration: none;
}
.apiIndex li a:hover::before {
  color: #E10098;
  content: '#';
  font-size: 16px;
  left: -2em;
  line-height: 20px;
  position: absolute;
}
.apiIndex .prism {
  margin-bottom: 0;
}

@media only screen and (max-device-width : 1024px) {
  #content {
    display: inline;
  }

  .container {
    min-width: 0;
    overflow: scroll;
  }
  .wrap {
    width: auto;
  }
  .home-getting-started {
    width: auto;
  }
  .inner-content {
    width: auto;
    float: none;
  }
  .marketing-col {
    margin-left: 0;
    float: none;
    margin-bottom: 30px;
    text-align: center;
  }
  .home-section, .marketing-row {
    margin: 0;
  }
  .nav-main .nav-site a {
    padding: 0 4px;
  }
  .nav-main .wrap {
    padding: 0 2px 0 4px;
  }
  .home-divider {
    display: none;
  }
  .hero {
    padding: 10px 0 30px 0;
  }
  .prism {
    padding: 4px 8px;
    margin-left: -12px;
    font-size: 11px;
  }
  .nav-docs .nav-docs-section {
    border: none;
    padding: 0;
  }
  .nav-docs h3 {
    margin: 0;
  }
  .nav-docs {
    float: none;
    width: auto;
    margin-top: -20px;
    margin-bottom: 20px;
  }
  h1 {
    font-size: 30px;
    line-height: 30px;
  }
  ol {
    margin: 0;
  }
}

/* http://prismjs.com/download.html?themes=prism&languages=markup+clike+javascript+jsx */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"],
.apiIndex pre {
	color: #333;
	text-shadow: 0 1px white;
	font-family: 'Roboto Mono', Menlo, Monaco, monospace;
  font-size: 14px;
  line-height: 20px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;

	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #a67f59;
	background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}

.token.function {
	color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
	color: #e90;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

/* Custom prism rules for the GraphQL docs */

code[class*="language-"],
pre[class*="language-"] {
  margin-bottom: 10px;
}
code[class*="language-"],
pre[class*="language-"],
.apiIndex pre {
  font-family: 'Roboto Mono', Menlo, Monaco, monospace;
  white-space: pre-wrap;
}

code[class*="language-"],
pre[class*="language-"],
.apiIndex li {
  font-size: 14px;
  line-height: 20px;
  border-left: 4px solid #E10098;
  padding: 7px 14px;
  background-color: #faf9f9;
}

.prism + .prism {
  margin-top: -15px;
}

/* Line highlighting */

.prism {
  position: relative;
}

.line-highlight {
  background-color: rgba(229, 53, 171, 0.15);
  left: 0;
  line-height: inherit;
  margin-top: 5px;
  pointer-events: none;
  position: absolute;
  right: 0;
}


/* Code Mirror */




/* BASICS */

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 300px;
  color: black;
}

/* PADDING */

.CodeMirror-lines {
  padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre {
  padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

.CodeMirror-guttermarker { color: black; }
.CodeMirror-guttermarker-subtle { color: #999; }

/* CURSOR */

.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0;
  background: #7e7;
}
.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}

.cm-animate-fat-cursor {
  width: auto;
  border: 0;
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
  background-color: #7e7;
}
@-moz-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@-webkit-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}

/* Can style cursor different in overwrite (non-insert) mode */
.CodeMirror-overwrite .CodeMirror-cursor {}

.cm-tab { display: inline-block; text-decoration: inherit; }

.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  position: absolute;
}

/* DEFAULT THEME */

.cm-s-default .cm-header {color: blue;}
.cm-s-default .cm-quote {color: #090;}
.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-s-default .cm-keyword {color: #708;}
.cm-s-default .cm-atom {color: #219;}
.cm-s-default .cm-number {color: #164;}
.cm-s-default .cm-def {color: #00f;}
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {}
.cm-s-default .cm-variable-2 {color: #05a;}
.cm-s-default .cm-variable-3 {color: #085;}
.cm-s-default .cm-comment {color: #a50;}
.cm-s-default .cm-string {color: #a11;}
.cm-s-default .cm-string-2 {color: #f50;}
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-qualifier {color: #555;}
.cm-s-default .cm-builtin {color: #30a;}
.cm-s-default .cm-bracket {color: #997;}
.cm-s-default .cm-tag {color: #170;}
.cm-s-default .cm-attribute {color: #00c;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}

.cm-s-default .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

.CodeMirror-composing { border-bottom: 2px solid; }

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {color: #0f0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #f22;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.CodeMirror-activeline-background {background: #e8f2ff;}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white;
}

.CodeMirror-scroll {
  overflow: scroll !important; /* Things will break if this is overridden */
  /* 30px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -30px; margin-right: -30px;
  padding-bottom: 30px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
}
.CodeMirror-sizer {
  position: relative;
  border-right: 30px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actuall scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
}
.CodeMirror-vscrollbar {
  right: 0; top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0; left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0; bottom: 0;
}
.CodeMirror-gutter-filler {
  left: 0; bottom: 0;
}

.CodeMirror-gutters {
  position: absolute; left: 0; top: 0;
  z-index: 3;
}
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  margin-bottom: -30px;
  /* Hack to make IE7 behave */
  *zoom:1;
  *display:inline;
}
.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important;
}
.CodeMirror-gutter-background {
  position: absolute;
  top: 0; bottom: 0;
  z-index: 4;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}
.CodeMirror-gutter-wrapper {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.CodeMirror-lines {
  cursor: text;
  min-height: 1px; /* prevents collapsing before first draw */
}
.CodeMirror pre {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
}
.CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  overflow: auto;
}

.CodeMirror-widget {}

.CodeMirror-code {
  outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.CodeMirror-cursor { position: absolute; }
.CodeMirror-measure pre { position: static; }

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}
div.CodeMirror-dragcursors {
  visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }
.CodeMirror-crosshair { cursor: crosshair; }
.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: #d7d4f0; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #d7d4f0; }

.cm-searching {
  background: #ffa;
  background: rgba(255, 255, 0, .4);
}

/* IE7 hack to prevent it from returning funny offsetTops on the spans */
.CodeMirror span { *vertical-align: text-bottom; }

/* Used to force a border model for a node */
.cm-force-border { padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after { content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext { background: none; }






/* Fold */

.CodeMirror-foldmarker {
  color: blue;
  text-shadow: #b9f 1px 1px 2px, #b9f -1px -1px 2px, #b9f 1px -1px 2px, #b9f -1px 1px 2px;
  font-family: arial;
  line-height: .3;
  cursor: pointer;
}
.CodeMirror-foldgutter {
  width: .7em;
}
.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
  cursor: pointer;
}
.CodeMirror-foldgutter-open:after {
  content: "\25BE";
}
.CodeMirror-foldgutter-folded:after {
  content: "\25B8";
}


/* Fold override */

.CodeMirror-foldmarker {
  border-radius: 4px;
  background: #08f;
  background: -webkit-linear-gradient(#43A8FF, #0F83E8);
  background:         linear-gradient(#43A8FF, #0F83E8);

  color: white;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  font-family: arial;
  line-height: 0;
  padding: 0px 4px 1px;
  font-size: 12px;
  margin: 0 3px;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.1);
}




/* Lint */

/* The lint marker gutter */
.CodeMirror-lint-markers {
  width: 16px;
}

.CodeMirror-lint-tooltip {
  background-color: infobackground;
  border: 1px solid black;
  border-radius: 4px 4px 4px 4px;
  color: infotext;
  font-family: monospace;
  font-size: 10pt;
  overflow: hidden;
  padding: 2px 5px;
  position: fixed;
  white-space: pre;
  white-space: pre-wrap;
  z-index: 100;
  max-width: 600px;
  opacity: 0;
  transition: opacity .4s;
  -moz-transition: opacity .4s;
  -webkit-transition: opacity .4s;
  -o-transition: opacity .4s;
  -ms-transition: opacity .4s;
}

.CodeMirror-lint-mark-error, .CodeMirror-lint-mark-warning {
  background-position: left bottom;
  background-repeat: repeat-x;
}

.CodeMirror-lint-mark-error {
  background-image:
  url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAYAAAC09K7GAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sJDw4cOCW1/KIAAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAAHElEQVQI12NggIL/DAz/GdA5/xkY/qPKMDAwAADLZwf5rvm+LQAAAABJRU5ErkJggg==")
  ;
}

.CodeMirror-lint-mark-warning {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAYAAAC09K7GAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sJFhQXEbhTg7YAAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAAMklEQVQI12NkgIIvJ3QXMjAwdDN+OaEbysDA4MPAwNDNwMCwiOHLCd1zX07o6kBVGQEAKBANtobskNMAAAAASUVORK5CYII=");
}

.CodeMirror-lint-marker-error, .CodeMirror-lint-marker-warning {
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: middle;
  position: relative;
}

.CodeMirror-lint-message-error, .CodeMirror-lint-message-warning {
  padding-left: 18px;
  background-position: top left;
  background-repeat: no-repeat;
}

.CodeMirror-lint-marker-error, .CodeMirror-lint-message-error {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAHlBMVEW7AAC7AACxAAC7AAC7AAAAAAC4AAC5AAD///+7AAAUdclpAAAABnRSTlMXnORSiwCK0ZKSAAAATUlEQVR42mWPOQ7AQAgDuQLx/z8csYRmPRIFIwRGnosRrpamvkKi0FTIiMASR3hhKW+hAN6/tIWhu9PDWiTGNEkTtIOucA5Oyr9ckPgAWm0GPBog6v4AAAAASUVORK5CYII=");
}

.CodeMirror-lint-marker-warning, .CodeMirror-lint-message-warning {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAANlBMVEX/uwDvrwD/uwD/uwD/uwD/uwD/uwD/uwD/uwD6twD/uwAAAADurwD2tQD7uAD+ugAAAAD/uwDhmeTRAAAADHRSTlMJ8mN1EYcbmiixgACm7WbuAAAAVklEQVR42n3PUQqAIBBFUU1LLc3u/jdbOJoW1P08DA9Gba8+YWJ6gNJoNYIBzAA2chBth5kLmG9YUoG0NHAUwFXwO9LuBQL1giCQb8gC9Oro2vp5rncCIY8L8uEx5ZkAAAAASUVORK5CYII=");
}

.CodeMirror-lint-marker-multiple {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAMAAADzjKfhAAAACVBMVEUAAAAAAAC/v7914kyHAAAAAXRSTlMAQObYZgAAACNJREFUeNo1ioEJAAAIwmz/H90iFFSGJgFMe3gaLZ0od+9/AQZ0ADosbYraAAAAAElFTkSuQmCC");
  background-repeat: no-repeat;
  background-position: right bottom;
  width: 100%; height: 100%;
}




/* Hint */

.CodeMirror-hints {
  background: white;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.45);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.45);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.45);
  font-family: 'Roboto Mono', Menlo, Monaco, monospace;
  font-size: 14px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  margin-left: -6px;
  max-height: 14.5em;
  overflow-y: auto;
  overflow: hidden;
  padding: 0;
  position: absolute;
  z-index: 10;
}

.CodeMirror-hints-wrapper {
  background: white;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.45);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.45);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.45);
  margin-left: -6px;
  position: absolute;
  z-index: 10;
}

.CodeMirror-hints-wrapper .CodeMirror-hints {
  -webkit-box-shadow: none;
   -moz-box-shadow: none;
        box-shadow: none;
  position: relative;
  margin-left: 0;
  z-index: 0;
}

.CodeMirror-hint {
  border-top: solid 1px #f7f7f7;
  color: #333;
  cursor: pointer;
  margin: 0;
  max-width: 300px;
  overflow: hidden;
  padding: 2px 6px;
  white-space: pre;
}

li.CodeMirror-hint-active {
  background-color: #08f;
  border-top-color: white;
  color: white;
}

.CodeMirror-hint-information {
  border-top: solid 1px #c0c0c0;
  max-width: 300px;
  padding: 4px 6px;
  position: relative;
  z-index: 1;
}

.CodeMirror-hint-information:first-child {
  border-bottom: solid 1px #c0c0c0;
  border-top: none;
  margin-bottom: -1px;
}


/* Custom typeahead */

.CodeMirror-hint-information .content {
  -webkit-box-orient: vertical;
  color: #333;
  display: -webkit-box;
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  -webkit-line-clamp: 3;
  line-height: 16px;
  max-height: 48px;
  overflow: hidden;
  text-overflow: -o-ellipsis-lastline;
}

.CodeMirror-hint-information .content p:first-child {
  margin-top: 0;
}

.CodeMirror-hint-information .content p:last-child {
  margin-bottom: 0;
}

.CodeMirror-hint-information .infoType {
  color: #30a;
  margin-right: 0.5em;
  display: inline;
}



/* Lint override */

div.CodeMirror-lint-tooltip {
  background-color: white;
  color: #333;
  border: 0;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.45);
   -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.45);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.45);
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  line-height: 16px;
  padding: 6px 10px;
  opacity: 0;
  transition: opacity 0.15s;
  -moz-transition: opacity 0.15s;
  -webkit-transition: opacity 0.15s;
  -o-transition: opacity 0.15s;
  -ms-transition: opacity 0.15s;
}

div.CodeMirror-lint-message-error, div.CodeMirror-lint-message-warning {
  padding-left: 23px;
}





/* Brackets override */

div.CodeMirror span.CodeMirror-matchingbracket {
  color: #555;
  text-decoration: underline;
}

div.CodeMirror span.CodeMirror-nonmatchingbracket {
  color: #f00;
}




/* Theme */

/* COLORS */


/* Comment */
.cm-comment {
  color: #999;
}

/* Punctuation */
.cm-punctuation {
  color: #555;
}

/* Keyword */
.cm-keyword {
  color: #B11A04;
}

/* OperationName, FragmentName */
.cm-def {
  color: #D2054E;
}

/* FieldName */
.cm-property {
  color: #1F61A0;
}

/* FieldAlias */
.cm-qualifier {
  color: #1C92A9;
}

/* ArgumentName and ObjectFieldName */
.cm-attribute {
  color: #8B2BB9;
}

/* Number */
.cm-number {
  color: #2882F9;
}

/* String */
.cm-string {
  color: #D64292;
}

/* Boolean */
.cm-builtin {
  color: #D47509;
}

/* EnumValue */
.cm-string-2 {
  color: #0B7FC7;
}

/* Variable */
.cm-variable {
  color: #397D13;
}

/* Directive */
.cm-meta {
  color: #B33086;
}

/* Type */
.cm-atom {
  color: #CA9800;
}



/* CM override */

.CodeMirror {
  font-size: 14px;
  line-height: 20px;
  font-family:
}

.miniGraphiQL {
  margin: 28px 0;
  color: #333;
  background: #faf9f9;
  border-left: 4px solid #E10098;
  width: 100%;
  display: -webkit-flex;
  display:         flex;
  -webkit-flex-direction: row;
          flex-direction: row;
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  position: relative;
}

.query-editor .CodeMirror {
  height: auto;
  min-height: 100px;
  margin: 0px 7px 28px;
  background: #faf9f9;
}

.query-editor {
  width: 50%;
}

.result-window {
  background: #fbfafa;
  box-shadow: inset 5px 0px 4px -3px rgba(0,0,0,0.2);
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  height: 100%;
  right: 0;
}

.result-window .CodeMirror {
  background: #fbfafa;
  height: 100%;
  margin: 0 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/** Algolia Doc Search **/

div.algolia-search-wrapper {
  display: inline-block;
  vertical-align: top;
  /*margin-left: 15px;*/
}

.algolia-autocomplete .aa-dropdown-menu {
  /*margin-left: -110px;*/
  margin-top: -4px;
}

@media screen and (max-width: 960px) {
  div.algolia-search-wrapper {
    display: none;
  }
}

input#algolia-doc-search {
  background: transparent url('../img/search.png') no-repeat 10px center;
  background-size: 16px 16px;

  padding: 0 10px;
  padding-left: 35px;
  margin-top: 9px;
  height: 30px;
  font-size: 16px;
  line-height: 20px;
  background-color: #555;
  border-radius: 4px;
  color: white;
  outline: none;
  border: none;
  width: 170px;
}

.algolia-autocomplete {
  vertical-align: top;
  height: 53px;
}

.algolia-docsearch-suggestion--category-header {
  background-color: #B51780;
}
.algolia-docsearch-suggestion--highlight {
  color: #E10098;
}
.algolia-docsearch-suggestion--category-header .algolia-docsearch-suggestion--highlight  {
  background-color: #E10098;
}
.aa-cursor .algolia-docsearch-suggestion--content {
  color: #E10098;
}
.aa-cursor .algolia-docsearch-suggestion {
  background: #FEF6FB;
}
.algolia-docsearch-suggestion {
  border-bottom-color: #FEF6FB;
}
.algolia-docsearch-suggestion--subcategory-column {
  border-right-color: #FEF6FB;
  background-color: #FEF6FB;
  color: #E10098;
}
