.code {
  .code-hero {
    background-color: #171e26;
    position: relative;
    min-height: 250px;
    padding: 0;
    margin-top: -5vh;
    padding-top: 5px;
    @media screen and (max-width: 600px) {
      height: 20vh;
    }
    @media screen and (min-width: 992px) {
      height: 35vh;
    }
    @media screen and (min-width: 1020px) {
      max-height: 750px;
      height: 40vh;
      min-height: 400px;
      padding-top: 50px;
    }
    width: 100%;
    h1 {
      color: #e10098;
      font-weight: 800;
      font-size: 100px;
      @media screen and (min-width: 1020px) {
        font-size: 140px;
      }
      line-height: 0.5;
      margin-top: 100px;
    }
    p {
      font-size: 32px;
      @media screen and (min-width: 1020px) {
        font-size: 48px;
      }
      color: white;
    }
    .code-hero-inner {
      position: absolute;
      text-align: center;
      width: 100%;
    }
  }
  .code-hero::before {
    background: url(/img/graph-wash.png) repeat center center;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
  .intro-note {
    margin-top: 43px;
    display: flex;
    strong {
      width: 50%;
      margin-right: 5%;
      font-size: 24px;
      font-family: "Rubik", "Helvetica Neue", Helvetica, Arial, sans-serif;
      line-height: 32px;
    }
    .goto-section {
      display: flex;
      flex-direction: row;
      width: 40%;
      p {
        min-width: 72px;
        width: 20%;
        margin: 0;
        color: #8c8c8c;
        font-weight: bold;
        font-size: 24px;
        font-family: "Rubik", "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      .sections {
        display: flex;
        width: 80%;
        flex-direction: column;
        a {
          h3 {
            margin: 0 0 22px 0;
            border-left: 1px solid #b7b7b7;
            font-weight: bold;
            padding-left: 15px;
            line-height: 28px;
            font-size: 24px;
            font-family: "Rubik", "Helvetica Neue", Helvetica, Arial, sans-serif;
          }
        }
      }
    }
  }
  .inner-content {
    max-width: 100%;
  }
  .language-content {
    padding-top: 72px;
  }
  .languages-title {
    font-size: 24px;
    font-weight: bold;
    font-family: "Rubik", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .language-boxes {
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 30px;
    grid-template-columns: auto auto auto;
    @media screen and (min-width: 1020px) {
      grid-template-columns: auto auto auto auto auto auto;
    }
    .language-box {
      border: 1px solid #979797;
      min-width: 142px;
      height: 120px;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      color: #000;
      .article_title {
        text-align: left;
        font-size: 24px;
        color: #000;
        font-weight: bold;
        font-family: "Rubik", "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin: 0;
      }
    }
  }
  .language-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .language-title {
      margin: 0 0 10px 0;
      font-size: 48px;
      font-weight: bold;
    }
    .language-categories-permalinks {
      margin: 0;
      font-size: 24px;
      font-weight: bold;
      color: #a6a6a6;
      .language-category-permalink {
        color: #a6a6a6;
      }
    }
  }
  .library-category-title {
    margin: 0;
    padding-top: 45px;
    font-size: 24px;
    color: #a6a6a6;
    font-weight: bold;
  }
  .library-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 36px;
    margin-bottom: 40px;
    .library-details {
      width: 30%;
      .library-name {
        font-size: 24px;
        font-weight: bold;
        p {
          margin: 0 0 20px 0;
        }
      }
      .library-detail {
        margin-top: 7px;
        display: flex;
        flex-direction: row;
        b {
          font-size: 14px;
          min-width: 90px;
        }
        a,
        span {
          font-size: 16px;
          color: #e10098;
          font-weight: bold;
          margin-left: 10px;
        }
      }
      .library-description {
        margin-top: 30px;
      }
    }
    .library-howto {
      width: 60%;
      position: relative;
      .library-howto-content {
        overflow: hidden;
        &.not-expanded {
          max-height: 450px;
        }
        &.expanded {
          max-height: none;
          border-bottom-style: solid;
          border-bottom-color: #C4C4C4;
          border-bottom-width: 3px;
        }
        p {
          margin: 0;
        }
      }
    }
    .library-howto-expand {
      cursor: pointer;
      
      &.not-expanded {
        background: -webkit-linear-gradient(
          top,
          rgba(237, 239, 240, 0),
          rgba(237, 239, 240, 0) 380px,
          #ffffff 400px
        );
        background: linear-gradient(
          to bottom,
          rgba(237, 239, 240, 0),
          rgba(237, 239, 240, 0) 380px,
          #ffffff 400px
        );
        box-sizing: border-box;
        display: block;
        height: 450px;
        padding-top: 400px;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        text-align: center;
        .library-howto-expand-anchor {
          background: #ffffff;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          border-radius: 9pt 9pt 0 0;
          color: #8c8c8c;
          display: inline-block;
          max-width: 100%;
          overflow: hidden;
          padding: 10px;
          text-decoration: underline;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      &.expanded {
        width: 100%;
        height: 30px;
        text-align: center;
        transform: rotate(180deg);
      }
    }
  }
}
