.code {
  .code-hero {
    background-color: #171e26;
    position: relative;
    min-height: 250px;
    padding: 0;
    margin-top: -5vh;
    padding-top: 5px;
    @media screen and (max-width: 600px) {
      height: 20vh;
    }
    @media screen and (min-width: 992px) {
      height: 35vh;
    }
    @media screen and (min-width: 1020px) {
      max-height: 750px;
      height: 40vh;
      min-height: 400px;
      padding-top: 50px;
    }
    width: 100%;
    h1 {
      color: #e10098;
      font-weight: 800;
      font-size: 100px;
      @media screen and (min-width: 1020px) {
        font-size: 140px;
      }
      line-height: 0.5;
      margin-top: 100px;
    }
    p {
      font-size: 32px;
      @media screen and (min-width: 1020px) {
        font-size: 48px;
      }
      color: white;
    }
    .code-hero-inner {
      position: absolute;
      text-align: center;
      width: 100%;
    }
  }
  .code-hero::before {
    background: url(/img/graph-wash.png) repeat center center;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
  .intro-note {
    margin-top: 20px;
    display: flex;
    strong {
      width: 50%;
      margin-right: 5%;
      font-size: 24px;
      line-height: 36px;
    }
    .goto-section {
      display: flex;
      flex-direction: row;
      width: 40%;
      p {
        width: 20%;
        margin: 0;
        color: #8C8C8C;
        font-weight: bold;
      }
      .sections {
        display: flex;
        width: 80%;
        flex-direction: column;
        a {
          h3 {
            margin: 0 0 14px 0;
            border-left: 1px solid #B7B7B7;
            font-weight: bold;
            padding-left: 15px;
          }
        }
      }
    }
  }
  .inner-content {
    max-width: 100%;
  }
  .language-box {
    border: 1px inset #979797;
    .article_title {
      text-align: left;
      font-size: 24px;
    }
  }
}
