.inner-faq-content {
    flex: 1;
    @media screen and (max-width: 740px) {
      margin-right: 0;
    }
  
    & > h1:first-child {
      margin-top: 1em;
    }
    
      h3 {
        color: #E10098;
        padding: 20px 0;
        box-shadow: 0px -1px 0px #aaa;
        margin: 0;
        user-select: none;
        cursor: pointer;
        position: relative;
  
        &:first-child {
          box-shadow: none;
        }
    
        &.open:after {
          transform: rotate(-45deg);
        }
    
        &:after {
          content: '';
          height: 33px;
          width: 33px;
          background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 125"%3E%3Cpath height="20px" width="20px" style="text-indent:0;text-transform:none;block-progression:tb" d="M50 13a4 4 0 00-4 4v29H17a4 4 0 000 8h29v29a4 4 0 108 0V54h29a4 4 0 100-8H54V17a4 4 0 00-4-4z" overflow="visible" fill="%23aaa"/%3E%3C/svg%3E%0A');
          background-repeat: no-repeat;
          position: absolute;
          transition: transform 200ms ease;
          right: 0;
    
          @media screen and (max-width: 768px) {
            display: none;
          }
        }
  
        a {
          display: none
        }
      }
  
      ul {
        max-height: 0;
        opacity: 0;
        transition: all 200ms ease;
        margin-bottom: 0;
        margin-top: 0;
    
        &.show {
          opacity: 1;
          max-height: 800px;
          margin-bottom: 1.0875rem;
        }
      }
      
      p {
        max-height: 0;
        opacity: 0;
        transition: all 200ms ease;
        margin: 0;
    
        &.show {
          opacity: 1;
          max-height: 400px;
          margin-bottom: 1.0875rem;
        }
      }
  }