name: Prettier Check

on: pull_request

jobs:
  prettier-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: the-guild-org/shared-config/setup@main
        name: setup env
        with:
          nodeVersion: 20
          packageManager: pnpm
          workingDirectory: ./
          packageManagerVersion: 8.15.5

      - name: Install Dependencies
        run: pnpm install
      - name: Run Prettier Check
        run: pnpm format:check
